<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="">
            <input type="text" id="name" value="" placeholder="Enter Student Nmae">
            <input type="text" id="email" value="" placeholder="Enter Email">
            <input type="password" id="password" value="" placeholder="password">
            <select name="role" id="">
                <option value="">user</option>
            </select>
            <input type="button" value="submit" placeholder="Add Student" >
            </form>
    </div>
</body>
</html>