<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        display:flex;
    }
    .d1{
        width:30%;
        height:100vh;
        background-color: rgb(31, 24, 24);
        color:white;
    }
    .d2{
        width:70%;
         height:100vh;
    }
</style>
<body>
    <div class="d1">
        <ul>
            <li>Add Student</li>
            <li>View Student</li>
            <li>Add Book</li>
            <li>issue Book</li>
        </ul>
    </div>
    <div class="d2"></div>
</body>
</html>