<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/navSide.css">
</head>
<body>
    <%- include("adminNav.ejs") %>

    <div class="main w-100">
        <div class="side">
            <%- include("aside.ejs") %>
        </div>
        <div class="right w-100 pt-5">
            <div class="container mt-5 w-50">
  <div class="card shadow p-4">
    <h2 class="mb-4 text-center">Update Category</h2>
    <form action="/updatecat?id=<%= data.id %>" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Category Name</label>
        <input type="text" id="name" name="name" class="form-control" value="<%= data.name%>" placeholder="Enter the updated Category" required>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success">Update</button>
      </div>
    </form>
  </div>
</div>

        </div>
    </div>
</body>
</html>
