<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
<link rel="stylesheet" href="/css/home.css">
</head>
<body class="home">

        <div class="nav">
            <img src="/image/logo2.png" alt="no-image">
            <h2>ReadSpace</h2>
            
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="">View Books</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="headline"><h1>Welcome To <label for=""class="read">Read</label><label for=""class="space">Space</label> <label for="">📖</label></h1>
        </div>
        <div class="login">
            <a href="/login">Let's Go!</a>
            </div>
</body>
</html>