<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
.home{
    width:100%;
    height:100vh;
    /* background-image: linear-gradient(45deg,rgb(243, 189, 189),rgb(189, 189, 249),rgb(249, 249, 175)); */
    background-image: url(back.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.nav{
    display:flex;
    justify-content: space-between;
    padding: 13px 250px 13px 70px;
    background-color: rgba(255, 255, 255,0.7);

}
.nav ul{
    display:flex;
    gap:45px;
    padding: 5px;
    list-style-type:none;
}
.nav img{
      width:60px;
      height: 60px;
      border-radius: 35px;
      margin-top:4px;
}
.nav ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
.nav ul a:hover{
    color:rgb(245, 7, 7);
}
.login{
    margin:180px 600px;
    width:150px;
    border: solid 1px black;
    background-color: rgb(242, 202, 107);
    text-align: center;
    height:25px;
    padding: 10px;
    border-radius: 25px 0 25px 25px;
    box-shadow:5px 5px 6px;
}
.login:hover{
    background-color: rgb(238, 9, 9);
   box-shadow: 10px 0 10px white;
    border-radius: 25px;
}
.login a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.headline{
    width:500px;
    padding:2px;
    margin:60px 450px ;
    background-color: rgba(255, 255, 255,0.2);
    border-radius:20px;
    text-align: center;
}
</style>
</head>
<body class="home">
  
        <div class="nav">
            <img src="logo2.png" alt="no-image">
            
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">View Books</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="headline"><h1>Library Management System 📖</h1></div>
        <div class="login">
            <a href="/login">Let's Go!</a>
            </div>
</body>
</html>