<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Book Page</title>
    <link rel="stylesheet" href="/css/navSide.css">
</head>
<body>
     <%- include("nav.ejs") %>

    <div class="main w-100">
        <div class="side">
            <%- include("aside.ejs") %>
        </div>
        <div class="rightSide">
            <div class="updateStd">
                <h1>Update User</h1>
                <form action="" method="POST">
                        <input type="text">
                        <input type="text" name="" id="">
                        <input type="text" name="" id="">
                        <input type="text">
                        <input type="text" name="" id="">

                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>

</body>
</html>