<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
</head>
 <style>
    .container{
        width:30%;
        padding: 20px;
        margin: auto;
        margin-top: 30px;
        align-items: center;
        border: solid 1px black;
        background-image:linear-gradient(45deg,rgb(236, 186, 186),rgb(197, 247, 243),rgb(173, 219, 246));
    }
    .container input{
        width:80%;
        height: 30px;
        margin-top:5px;

    }
 </style>
<body>
    <div class="container">
        <form action="">
            <input class="form-control" type="text" name="username" value=""  placeholder="Enter username"><br>
            <input class="form-control"  type="text" name="password" value=""  placeholder="Enetr password"><br>
            <input class="form-control" type="submit" name="s" value="submit">
        </form> 
    </div>
</body>
</html>