<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
</head>
 <style>
    .container{
        width:30%;
        height: 40vh;
        padding: 20px;
        margin: auto;
        margin-top: 30px;
        align-items: center;
       

    }
    .container input{
        width:80%;
        height: 30px;
        margin-top:5px;


    }
    .form-control{
        margin: 10px 20px;
    }
    h1{
        margin-right: ;
    }
 </style>
<body>
    <div class="container">
        <form action="">
            <h1>Please Sing in</h1>
            <input class="form-control" type="text" name="username" value=""  placeholder="Enter username"><br>
            <input class="form-control"  type="text" name="password" value=""  placeholder="Enetr password"><br>
            <input class="form-control" type="submit" name="s" value="submit">
        </form> 
    </div>
</body>
</html>