<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
</head>
 <style>
    .container{
        width:50%;
        padding: 20px;
        margin: auto;
        background-color: rgba(rgb(227, 190, 190), rgb(166, 196, 166), rgb(159, 159, 223),05);
    }
 </style>
<body>
    <div class="container">
        <form action="">
            <input class="form-control" type="text" name="username" value=""  placeholder="Enter username"><br>
            <input class="form-control"  type="text" name="password" value=""  placeholder="Enetr password"><br>
            <input class="form-control"  type="password" name="Confirm password" value=""  placeholder="confirm password"> <br>
            <input class="form-control" type="submit" name="s" value="submit">
        </form> 
    </div>
</body>
</html>