<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     body{
            min-height:100vh;
            border:solid;
        }
        .high{
            min-height: 89vh;
        }
        .udash{
          height:300px;
          background-image: url("/image/book.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
  </style>
</head>
<body>
    <%-include("userNavBar.ejs")%>
    <div class="container-fluid px-0">
  <div class="row g-0 high">
    
    <div class="col-2 p-0">
      <%- include("userAside.ejs") %>
    </div>
    <div class="col-10 p-5">
  <div class="container mt-5 text-md-center">
                <h1 class="m-auto mt-5 w-75">Wel-come to Labrary <h1 class="text-danger"><%=user.name%></h1></h1>
              </div>
              <div class=" w-50 m-auto mt-5 udash">
              </div>
    </div>
              
        </div>
</div>
</body>
</html>