<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/viewbook.css">
</head>
<body>
    <%-include("nav.ejs")%>
    <div class="main w-100 ">
        <div class="side">
            <%-include("aside.ejs")%>
        </div>
        <div class="rigth">
        
        <% if (data.length == 0) { %>
    <label for="">NO data Available</label>
    <% } else {
                data.forEach((item) => {
        %>
       <div class="books">
           <img src="<%=item.image%>" alt="NO image found">
           <label for="">Title : <%=item.title%></label>

       </div>

    <%})}%>

    </div>
</div>
</div>
</body>
</html>