
    .addcat{
        width:50%;
        margin: 100px auto;
        border-radius: 10px 0px;
        border: solid 1px black;
        text-align: center;
        padding: 20px;
        background-color: rgba(103, 106, 101, 0.7);
    }
    .addcat:hover{
        width:60%;
        background-color: rgba(72, 122, 209, 0.7);
    }
    .addcat input{
        width:80%;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    