
    .addStd{
        width:60%;
        margin: 100px auto;
        border-radius: 10px 0px;
        border: solid 1px black;
        text-align: center;
        padding: 20px;
    }
    .addStd input{
        width:80%;
        height: 40px;
        margin-top: 15px;
    }
    .addStd select{
        width:80%;
        height: 40px;
        margin-top: 15px;
    }
    