 body{
       min-height:100vh;
       border: solid;
    }


    .high{
        min-height:89vh;
    }
    .main{
            width:100%;
            height: 100%;
            display:flex;
            
    }
    .side{
        width:20%;
        height: 100%;
    }
    .rigth{
        width:80%;
    }
    .rigth table{
        margin: auto;
        text-align: center;
    }

    .rigth table td i{
        font-size: 25px;
        font-weight: bolder;
    }
    .rigth table td i:hover{
        color:red;
    }