.nav{
    display:flex;
    justify-content: space-between;
    padding: 13px 250px 13px 70px;
    background-color: rgba(33, 32, 32, 0.9);
    color:white;
    width: 100%;

}
.nav ul{
    display:flex;
    gap:45px;
    padding: 5px;
    list-style-type:none;
    margin-top:10px ;
   
}
.nav img{
      width:60px;
      height: 60px;
      border-radius: 35px;
      margin-top:4px;
      margin-left: 30px;
}
.nav h2{
    margin-left: -550px;
    margin-top:20px ;
    font-size :25px;
}
.nav ul a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:rgb(247, 245, 245);
}
.nav ul a:hover{
    color:rgb(245, 7, 7);
}
.nav ul li{
     /* border:solid; */
}