.nav{
    display:flex;
    justify-content: space-between;
    padding: 13px 110px;
    background-color: rgba(33, 32, 32, 0.9);
    color:white;
    width: 100%;

}
.nav ul{
    margin-top:10px ;
   
}
.nav h1{
    margin-left: 50px;
}